.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.editorField {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-right: 80px;
  border: none;
  border-radius: 20px;
  resize: none;
  position: relative;
}

.toolsContainer {
  position: absolute;
  right: 20px;
  top: 20px;
}

.toolsTabs {
  border-top: 1px solid lightblue;
  padding: 10px;
}

.playBtn {
  position: relative;
  display: flex;
  height: 100%;
}

.expandBtn {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
