.footer-wrap {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 70, 87);
  color: white;
}

.github-img {
  width: 120px;
}
.rs-img {
  width: 150px;
}

.github-link, .text {
  margin-right: 10px;
  text-decoration: none;
  color: #b0b9c9;
}

.github-link:hover {
  color: #e435aa;
}

.develop-wrapper {
  display: flex;
  align-items: center;
}

.develop-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


@media screen and (max-width: 768px) {
  .github-link {
    font-size: 0.9rem;
  }

  .rs-img, .github-img {
    width: 80px;
  }
}
