.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 70, 87);
  color: white;
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid #7c5b82;
  gap: 1rem;
  font-size: 1rem;
}

.linkItem {
  text-decoration: none;
  color: #b0b9c9;
}

.linkItem:hover {
  color: #e435aa;
}

.footer-wrap {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-img {
  width: 120px;
}
.rs-img {
  width: 150px;
}

.github-link, .text {
  text-decoration: none;
  color: #b0b9c9;
}

.text {
  width: 100px;
}

.github-link:hover {
  color: #e435aa;
}

.develop-wrapper {
  display: flex;
  align-items: center;
}

.develop-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


@media screen and (max-width: 768px) {
  .github-link, .navLinks, .text  {
    font-size: 0.9rem;
  }

  .rs-img, .github-img {
    width: 80px;
  }
}

@media screen and (max-width: 480px) {
  .footer-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .develop-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }

  .develop-links {
    flex-direction: row;
    gap: 0.6rem;
  }

  .text {
    width: auto;
  }
}
