.docContainer {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 15px;
}

.sidebar {
  width: 20%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.sidebarBtn {
  margin: 0 auto;
  background-color: brown;
}

.docContent {
  width: 80%;
  padding: 10px;
}
