:root {
  --color-primary: #a463f2;
  --color-gray-dark: #ccc;
  --color-gray: #f9fafb;
}

.main-page__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
