:root {
  --color-primary: #a463f2;
  --color-gray-dark: #ccc;
  --color-gray: #f9fafb;
}

.main-page__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.lang {
  padding: 12px 16px;
  background-color: #3d4657;
  color: #edf2f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  border-bottom: 1px solid #7c5b82;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.button {
  background-color: #edf2f4;
  color: #1d1d1d;
  padding: 2px 4px;
  border: none;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
  background-color: #e435aa;
  color: #edf2f4;
  transition: all 0.3s linear;
}

.buttonDisable {
  pointer-events: none;
}

.content {
  flex-grow: 1;
}

.active {
  background-color: #2B81F0;
  color: #edf2f4;
}
