.tabs {
  border-top: 1px solid lightblue;
  padding: 10px;
}

.expandBtn {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.editorContainer {
    position: relative;
}

.editorField {
  height: 100%;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  resize: none;
  font-family: monospace;
  font-size: 14px;
}

.errorIcon {
    position: absolute;
    right: 20px;
    top: 20px;
}